
/* ОБЩИЕ СТИЛИ */

.page_title a{
  font-size: 24px;
  font-weight: bold;
  color: grey;
}

.smart_link {
  text-decoration: none;
}

/* input[tupe="number"] без стрелок*/
.smart_number input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.smart_number input[type="number"]::-webkit-outer-spin-button,
.smart_number input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/*=============================*/


/* АНИМАЦИЯ ДОБАВИТЬ В ИЗБРАННОЕ */

.add_to_favorite-active {
	position: fixed;
	top: 25vh;
	left: 25vw;
	height: 50vh;
	width: 50vw;
	display: flex;
	z-index: 3;
}

.add_to_favorite {
	position: fixed;
	top: 25vh;
	left: 100vw;
	height: 0;
	width: 0;
	opacity: 0;
	display: flex;
	transition: 1s;
	z-index: 3;
}

.add_to_favorite_image {
	width: auto;
	height: 100%;
	transition: 1s;
}

/*=============================*/



/* ИКОНКА "ИЗБРАННОЕ" ДЛЯ ГАЛЕРЕИ */

.ug_ideal-favorite_counter {
	background: orange;
	color: white;
	position: fixed;
	top: 25%;
	right: 0;
	width: 50px !important;
	font-size: 24px;
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	z-index:1;
}

/*=============================*/
